[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[0761bb4a-22ff-43ee-b15a-d8f6a7906235]
row=1
col=0

[home]
row=2
col=0

[var]
row=4
col=0

[Filesystem root]
row=0
col=0

[tmp]
row=3
col=0

[/]
row=5
col=0

[/home/RILA]
row=6
col=0

