[Desktop Entry]
Version=1.0
Type=Application
Name=reset server1
Comment=reset server1 to initial state
Exec=/usr/local/bin/reset-virt server1
Icon=system-reboot
Path=~/
Terminal=false
StartupNotify=false

