[Desktop Entry]
Version=1.0
Type=Application
Name=server2 console
Comment=Starts a console session
Exec=virt-viewer -c qemu:///system server2
Icon=virt-viewer
Path=~/
Terminal=false
StartupNotify=false

